@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    /*background: #081b29;*/
    color: #ededed;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #243a5f;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #00abf0;
}
/*.navbar a.active{*/
/*    color: #00abf0;*/
/*}*/

.home {
    height: 100vh;
    background: url("/static/images/home_background_image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 650px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #243a5f;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #243a5f;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    text-align: justify;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #243a5f;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #243a5f;
    animation: showRight 1s ease forwards;
    animation-delay: 4s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover {
    background: #243a5f;
    opacity: .8;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.loading-content {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border-radius: 8px;
  /*background: rgba(0, 171, 240, 0.9); !* Adjust background color *!*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); !* Add a subtle box shadow *!*/
}

.loading-content::after {
  content: '...';
  animation: dots 1s infinite; /* Add a simple animation for the dots */
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100%{
        width: 0;
    }
}
@keyframes dots {
  0%, 20% {
    content: 'Loading .';
  }
  40% {
    content: 'Loading ..';
  }
  60% {
    content: 'Loading ...';
  }
  80%, 100% {
    content: 'Loading ';
  }
}

